<div class="welcome-container">

    <div class="overlay">

        <div class="welcome-content">

            <h1>Welcome to TVK Technologies</h1>

            <h3>
                Empowering Future Professionals with Quality Training,
                Expert Mentorship, and Career Opportunities.
            </h3>

            <p>
                Join our learning community to enhance your technical skills,
                work on real-time projects, receive personalized trainer support,
                and prepare for a successful career in the IT industry.
            </p>

            <button routerLink="/register">
                Register Now
            </button>

        </div>

         <div class="slideshow-container">

            <div class="slideshow">

                <img src="/assets/slide1.jpg" class="slide">

                <img src="/assets/slide2.jpg" class="slide">

                <img src="/assets/slide3.jpg" class="slide">

                <img src="/assets/slide4.jpg" class="slide">

            </div>

        </div>

    </div>
       
</div>

<button><a routerLink="/login">login</a></button>