<div class="page">

    <div class="register-container">

        <div class="form-header">

            <h1>Student Registration Portal</h1>

            <p>
                Create your internship profile and begin your career journey
                with TVK Technologies.
            </p>

        </div>

        <form
            [formGroup]="studentForm"
            (ngSubmit)="saveStudent()">

            <div class="row">

                <div class="field">

                    <label>First Name</label>

                    <input
                        type="text"
                        placeholder="Enter First Name"
                        formControlName="firstName">

                    <div
                        class="error"
                        *ngIf="f.firstName.touched && f.firstName.invalid">

                        <span *ngIf="f.firstName.errors?.['required']">
                            First Name is required
                        </span>

                    </div>

                </div>

                <div class="field">

    <label>
         Middle Name (Optional)
    </label>

    <input
        type="text"
        placeholder="Enter Middle Name"
        formControlName="middleName">

</div>

                <div class="field">

                    <label> Last Name</label>

                    <input
                        type="text"
                        placeholder="Enter Last Name"
                        formControlName="lastName">

                    <div
                        class="error"
                        *ngIf="f.lastName.touched && f.lastName.invalid">

                        <span *ngIf="f.lastName.errors?.['required']">
                            Last Name is required
                        </span>

                    </div>

                </div>

            </div>

            <div class="row">

                 <div class="field">

                    <label> Mobile Number</label>

                    <input
                        type="text"
                        placeholder="+91 XXXXX XXXXX"
                        formControlName="mobile">

                    <div
                        class="error"
                        *ngIf="f.mobile.touched && f.mobile.invalid">

                        <span *ngIf="f.mobile.errors?.['required']">
                            Mobile Number is required
                        </span>

                        <span *ngIf="f.mobile.errors?.['pattern']">
                            Enter valid mobile number
                        </span>

                    </div>

                </div>

                <div class="field">

                    <label> Email Address</label>

                    <input
                        type="email"
                        placeholder="example@gmail.com"
                        formControlName="email">

                    <div
                        class="error"
                        *ngIf="f.email.touched && f.email.invalid">

                        <span *ngIf="f.email.errors?.['required']">
                            Email is required
                        </span>

                        <span *ngIf="f.email.errors?.['email']">
                            Invalid Email Address
                        </span>

                    </div>

                </div>

                

                <div class="field">

                    <label> College Name</label>

                    <input
                        type="text"
                        placeholder="Enter College Name"
                        formControlName="college">

                    <div
                        class="error"
                        *ngIf="f.college.touched && f.college.invalid">

                        <span *ngIf="f.college.errors?.['required']">
                            College Name is required
                        </span>

                    </div>

                </div>

            </div>

            <div class="row">

                 <div class="field">

                    <label> College Registration ID</label>

                    <input
                        type="text"
                        placeholder="Registration Number"
                        formControlName="collegeRegId">

                    <div
                        class="error"
                        *ngIf="f.collegeRegId.touched && f.collegeRegId.invalid">

                        <span *ngIf="f.collegeRegId.errors?.['required']">
                            Registration ID is required
                        </span>

                    </div>

                </div> 

                <div class="field">

                    <label> Degree</label>

                    <select
                        formControlName="degree"
                        (change)="onDegreeChange($event)">

                        <option value="">Select Degree</option>

                        <option
                            *ngFor="let d of degrees"
                            [value]="d">

                            {{ d }}

                        </option>

                    </select>

                </div>

                <div class="field">

                    <label>Group</label>

                    <select formControlName="group">

                        <option value="">Select Group</option>

                        <option
                            *ngFor="let g of groups"
                            [value]="g">

                            {{ g }}

                        </option>

                    </select>

                </div>

            </div>

            <div class="row">

                 <div class="field">

                    <label>Passout Year</label>

                    <select formControlName="passout">

                        <option value="">Select Year</option>

                        <option
                            *ngFor="let year of passoutYears"
                            [value]="year">

                            {{ year }}

                        </option>

                    </select>

                </div>

                <div class="field">

                    <label> Aadhaar Number</label>

                    <input
                        type="text"
                        placeholder="Enter Aadhaar Number"
                        formControlName="aadhaar">

                    <div
                        class="error"
                        *ngIf="f.aadhaar.touched && f.aadhaar.invalid">

                        <span *ngIf="f.aadhaar.errors?.['required']">
                            Aadhaar Number is required
                        </span>

                        <span *ngIf="f.aadhaar.errors?.['pattern']">
                            Aadhaar must contain 12 digits
                        </span>

                    </div>

                </div>

                <div class="field">

                    <label> Internship Course</label>

                    <select formControlName="course">

                        <option value="">Select Course</option>

                        <option value="Angular">Angular</option>
                        <option value="React">React</option>
                        <option value="Java Full Stack">Java Full Stack</option>
                        <option value=".NET Full Stack">.NET Full Stack</option>
                        <option value="Python Full Stack">Python Full Stack</option>
                        <option value="MERN Stack">MERN Stack</option>
                        <option value="Data Science">Data Science</option>
                        <option value="Artificial Intelligence">Artificial Intelligence</option>

                    </select>

                </div>

            </div>

            <div class="row">

                 <div class="field">

                    <label> Passport Size Photo</label>

                    <input
                        type="file"
                        accept=".jpg,.jpeg,.png"
                        (change)="onPhotoSelected($event)">

                    <div
                        class="error"
                        *ngIf="photoError">

                        {{ photoError }}

                    </div>

                </div>

                <div class="field full">

                    <label> Aadhaar / PAN Card</label>

                    <input
                        type="file"
                        accept=".jpg,.jpeg,.png,.pdf"
                        (change)="onDocumentSelected($event)">

                    <div
                        class="error"
                        *ngIf="documentError">

                        {{ documentError }}

                    </div>

                </div>

            </div>

            <div class="button-group">

                <button
                    type="button"
                    class="back-btn"
                    routerLink="/">

                    ← Back to Home

                </button>

                <button
                    type="submit"
                    class="register-btn"
                     routerLink="/payment"
                    >

                    Register Now →

                </button>

            </div>

        </form>

    </div>

</div>